[build]
  publish = "."
  command = "npm run build"
  environment = { SECRETS_SCAN_SMART_DETECTION_ENABLED = "false" }

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
